extends layout

block content
    if user.type=="SU"
        h1= person.name
        form(method='POST', action='/users/edit/'+person._id)
            #form-group 
                label.main-label Permissions
                br
                label.radio-inline
                    input(type='radio', name='type', value='R', checked) 
                    | Regular User
                br
                label.radio-inline
                    input(name='type', type='radio', value='OC')
                    | Configurator
                br
                label.radio-inline
                    input(name='type', type='radio', value='QA')
                    | Quality Assurance
                br
                label.radio-inline
                    input(name='type', type='radio', value='PM')
                    | Project Manager
                br
            input.btn.btn-primary.btn-spacing(type='submit', value='Submit')
        button.btn.btn-danger(data-toggle="modal", data-target="#deleteModal") Delete
    else 
        h1 You Do Not Have The Permission To Do This
    
    div#deleteModal.modal.fade(role="dialog")
        div.modal-dialog
            div.modal-content
                div.modal-body
                    p Are you sure you want to delete this user?
                div.modal-footer
                    a.btn.btn-primary.btn-spacing.delete-user(href='#', data-dismiss="modal", data-id=person._id) Delete
                    button.btn.btn-danger(data-dismiss="modal") Cancel